.shipping {
    @include flex(row,flex-start,center,1rem);

    .back-btn {
        @include square(2.5rem);
        background-color: $color2;
        color: $color1;
        @include flex;
        position: fixed;
        top: 2rem;
        left: 2rem;
        border-radius: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        @include baseShadow;

        svg {
            transition: all 0.3s;
        }

        &:hover svg {
            translate: -0.25rem;
        }
    }

    >form {
        max-width: 480px;
        width: 100%;
        @include flex(column, flex-start, stretch, 1rem);
        padding: 1rem;
        border-radius: 5px;
        margin-left: 20%;
        border:1px solid #B6C4B6;
        opacity:0.8;
        
        >h1 {
            @include heading(1px);
            // font-size: 2rem;
            margin-bottom: 0.6rem ;
            text-align: center;
        }

        >input,
        >select {
            width:22rem;
            border:1px solid #B6C4B6;
            padding: 0.8rem;
            outline: none;
            font-size: 0.8rem;
            border-radius: 5px;
           
           
        }

        >button {
            @include btn(0.8rem, $color3, $color1);
            width:22rem;
            border-radius: 5px;
            font-size: 1.05rem;
            text-transform: uppercase;
            letter-spacing: 2px;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}